<!-- Modal LG -->
<div class="modal fade" id="modalLg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal modal-lg">
        <div class="modal-content modal-regal">
            <div class="modal-header modal-header-custom">
                <h6 class="modal-title w-100 text-center titlo-modal">Regal Asistencia</h6>
                <i class="fa-solid fa-xmark fa-xl cerrar-modal" data-dismiss="modal" aria-label="Cerrar"></i>
            </div>
            <div class="modal-body" id="modalLgBody">
                <!-- Partial view se carga aquí -->
            </div>
        </div>
    </div>
</div>